@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 200px auto;
    width: 500px;
    height: 658px;
    background: rgb(39, 73, 112);
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 800px;
    height: 100px;
    font-family: 'Sriracha', cursive;
    font-size: 60px;
    position: absolute;
    top: 350px;
    left: 550px;
    border-radius: 40px;
}

h1:hover {
    background-color: black;
    transition: 0.7s;
    color: #fff;
    cursor: pointer;
}

